# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.binreader.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\binreader\.idea\.idea.binreader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
